body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right,white,red,yellow,orange,green,blue,indigo,violet,white);
  }
  
  .game-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.3);
  }
  #timer {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #dc3545;
    font-weight: bold;
  }
  
  #color-display {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 2px solid #000;
    border-radius: 5px;
  
  }
  
  #color-options {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0;
  }
  
  .color-option {
    width: 4em;
    height: 4em;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
  }
  .color-option:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  #scoreboard {
    font-size: 1.5rem;
    margin: 20px 0;

  }
  #highest-score {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #28a745;
  }
  
  #game-over {
    font-size: 2rem;
    color: red;
    margin: 20px 0;
  }
  
  .hidden {
    display: none;
  }
  
  #new-game-btn {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
  }
  
  #new-game-btn:hover {
    background-color: #0056b3;
  }